# General ignore files
/visualization/visualization/settings.py
/acquisition/db_config.py
/visualization/db.sqlite3

Pipfile
Pipfile.lock

# General ignore directories
/visualization/interfaces/migrations/*
